body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("images/pattern-background-desktop.svg");
    background-color: #E0E8FF;
    background-repeat:no-repeat !important;
    width: 1440px;
}

button {
    font-family: 'Red Hat Display', sans-serif;
}

button:hover {
    cursor: pointer;
}

.proceed-button {
    padding: 15px 110px;
    display: block;
    margin: auto;
    border: solid #1E20CD;
    border-radius: 13px;
    background-color: #1E20CD;
    color: white;
    font-size: 16px;
   
}

.cancel-button {
    border: none;
    background: none;
    display: block;
    margin: auto;
    color: hsl(224, 23%, 55%);
    font-weight: bold;
    font-size: 16px;
}

h2 {
    font-weight: 900;
    font-size: 30px;
    color: hsl(223, 47%, 23%)
}

h2, .plan-info {
    text-align: center;
}

.full-card {
    background: white;
    width: 450px;
    height: 700px;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.dancer-image {
    border-radius: 25px 25px 0px 0px;
}

.plan-info {
    font-size: 16px;
    margin: 0px 50px;
}

.annual-plan {
    width: 350px;
    height: 100px;
    background: hsl(225, 100%, 98%);
    display: block;
    margin: auto;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
}



