body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("images/pattern-background-desktop.svg");
    background-color: #E0E8FF;
    background-repeat:no-repeat !important;
    width: 1440px;
}

button {
    font-family: 'Red Hat Display', sans-serif;
}

button:hover {
    cursor: pointer;
}

.proceed-button {
    padding: 15px 97px;
    display: block;
    margin: auto;
    border: solid #1E20CD;
    border-radius: 13px;
    background-color: #1E20CD;
    color: white;
    font-size: 16px;
   
}

.proceed-button:hover {
    background-color: purple;
    border: solid purple;
}

.cancel-button {
    border: none;
    background: none;
    display: block;
    margin: auto;
    color: hsl(224, 23%, 55%);
    font-weight: bold;
    font-size: 16px;
}

.cancel-button:hover {
    color: hsl(223, 47%, 23%);
}

h2 {
    font-weight: 900;
    font-size: 30px;
    color: hsl(223, 47%, 23%);
}

h2, .plan-info {
    text-align: center;
}

.full-card {
    background: white;
    width: 450px;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.dancer-image {
    border-radius: 25px 25px 0px 0px;
}

.plan-info {
    font-size: 16px;
    margin: 0px 50px;
}

.annual-plan {
    width: 350px;
    height: 90px;
    background: hsl(225, 100%, 98%);
    display: block;
    margin: auto;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.music-dot {
   position: relative;
   left: -50px;
   top: 20px;
}

.change-button {
    position: relative;
    left: 60px;
    top: 34px;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 13px;
    text-decoration: underline;
    color: #1E20CD;;
}

.change-button:hover {
    text-decoration: none;
    color: #CD7DF3;
}

.plan-text {
    font-weight: bold;
    color: hsl(223, 47%, 23%);
}

.price {
    color: hsl(224, 23%, 55%);
}

.plan-block {
    position: relative;
    top: 26px;
    left: -30px;
}